<form class="custom-form" data-form-type="contact">

    <input type="text" name="name" class="form-control mb-3" placeholder="Vorname" required>
    <input type="text" name="lastname" class="form-control mb-3" placeholder="Nachname" required>
    <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>

    <textarea name="message" class="form-control mb-3" rows="5" placeholder="Nachricht"></textarea>

    <div class="form-feedback"></div>

    <button class="btn btn-primary w-100">

        Nachricht senden

    </button>

</form>