<div id="cookie-banner" class="cookie-banner shadow">

    <div class="cookie-content">

        <div>
            <h5>🍪 Cookies</h5>

            <p>
                Wir verwenden Cookies, um die
                Benutzererfahrung zu verbessern.
            </p>
        </div>

        <div class="cookie-buttons">

            <button id="acceptCookies" class="btn btn-primary">
                Akzeptieren
            </button>

            <button id="declineCookies" class="btn btn-outline-light">
                Ablehnen
            </button>

        </div>

    </div>

</div>