<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">
                Reinigung
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/booking.html">Booking</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Preise</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact.html">Kontakt</a>
                    </li>
                </ul>
            </div>
            <button id="themeToggle" class="btn btn-light ms-lg-3">
                <i class="bi bi-moon-stars-fill"></i>
            </button>
        </div>
    </nav>
</header>